@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  color: black;
}
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  color: rgb(0, 0, 0);
}
